.containerGuy {
  
  height: 800px;
  background-color: grey;
  position: relative;
}
.box1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  left: 300px;
  top: 17.5%;
  z-index: 1;
  margin: 20px;
 
}
.box2 {
  width : 200px;
  height: 200px;
  background-color: white;
  position: relative;
  top: 20%;
  left: 10px;
  margin: 20px;
 
  
}

.box3 {
  width : 200px;
  height: 200px;
  background-color: white;
  margin: 20px;
  position: relative;
  top: 27.5%;

}

.box4 {
  width : 200px;
  height: 200px;
  background-color: white;
  position: relative;
  left: 300px;
  margin: 20px;
  
  
}

.importantNavigationBar {
  background-color : white;
  height: 80px;
  width: 100%;
  position: fixed;
  border-bottom: black;
  box-shadow: 8px 8px;
}

.logo {
width: 80px;
height: 80px;
background-color: black;
left: 842px;
position: absolute;
z-index: 1;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: white;
  border-style: solid;
  border-top: 2px;
  border-color: black;

}
